<div class="header" id="header">
   <div class="linksheader" id="linksheader">
    <ul>
      <li><a routerLink="home">Home</a></li>
      <li><a routerLink="shop">Shop</a></li>
      <li><a routerLink="myshoppings">My shoppings</a></li>
      <li><a routerLink="addproducts">Add products</a></li>
    </ul>
  </div>
   <div class="iconangular" id="iconangular">
    <a routerLink="register">Login <span><a href="#" class="iconangu"><i class="fa-brands fa-angular"></i></a></span></a>
   </div>
   </div>
   <app-items></app-items>
   <router-outlet></router-outlet>