/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.tablepos {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}

.card {
    width: 88%;
    height: 100vh;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-header h6 {
    color: white;
    background-color: #3c5a79;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    border-radius: 5px 5px 0 0;
    margin: 0;
}

.card-body {
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 10px;
}

table th {
    background-color: #f2f2f2;
    font-weight: bold;
    text-align: center;
}

table td {
    text-align: center;
}
